@charset "UTF-8";

#advertCard{
	border: 1px solid;
	width: 20%;
	margin: auto;
	margin-top: 2.5%;
	text-align: center;
	font-size: 1.1em;
}

#advertCard>p>span{
	font-weight: bold;
	margin-right: 2.5%;
}