@charset "UTF-8";

#banner{
	opacity: 0.5;
	object-fit: cover;
	object-position: 0 20%;
	width: 100%;
	height: 200px;
}

#navbar{
	padding: 10px;
	text-align: right;
	font-size: 1.2em;
}

#navbar>span{
	margin-left: 5px;
	margin-right: 20px;
}


#searchbar{
	background-color: #fcfbf5;
	border: ridge 1px;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	padding: 20px;
}

#searchbar>span{
	margin-left: 2%;
	margin-right: 2%;
	float: left;
}

.advertList{
	border: 1px solid;
	width: 20%;
	margin: auto;
	margin-top: 2.5%;
	text-align: center;
	font-size: 1.1em;
}

.advertList>p>span{
	font-weight: bold;
	margin-right: 2.5%;
}